/*--------------------------TOUTE-LA-PAGE--------------------------*/

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

body,
p,
h1,
h2 {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
}

h2 {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 1rem;
}

/*--------------------------NAVIGATION-BAR--------------------------*/

.navigation-bar {
    border-top: 1px #be8c8c solid;  
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.navbar-link{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: .75em;
    flex: 1;
}

.navbar-link > * {
    margin-right: 1rem;
}

.navbar-logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*--------------------------HEADER--------------------------*/

.header {
    background-color: #f7b7b7;
    margin-bottom: 1rem;
}

.title-header {
    text-align: center;
    padding: 2rem;
}

.header-sub-title {
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

/*--------------------------SECTION-WILD-CLASS-------------------------*/

.section-wild-block-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.section-content-style {
    background-color: rgb(180, 180, 180);
    color: rgb(255, 255, 255); 
}

/*--------------------------SECTION-A-PROPOS-------------------------*/

.a_propos-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1rem;
}

.a_propos-paragraphe {
    text-align: center;
}

/*--------------------------SECTION-VOS-STAGIAIRES-------------------------*/

.section-wilder-title {
    text-align: center;
    font-size: 1.5em;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    padding: 1rem;
    margin-bottom: 1rem;
}

.section-wilder-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}

.section-wilder-card{
    margin-bottom: 2rem;
    margin-right: 2rem;
}


.flex-card-name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
}
.wilder-card-name {
    background: linear-gradient(90deg, rgb(104, 115, 175) 0%, rgb(128, 170, 204)100%);
    border-bottom: black 1px solid;
    font-size: 1.4rem;
    border-radius: 8px 8px 0px 0px;
}

.wilder-card-photo {
    background-color: rgb(255, 255, 255);
}


.wilder-card-description {
    background: linear-gradient(90deg, rgb(104, 115, 175) 0%, rgb(128, 170, 204)100%);
    border-top: black 1px solid;
    font-size: 1rem;
    border-radius: 0px 0px 8px 8px;
    padding: .5rem;
}
.flex-card-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-stagiaire{
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.container-Formateur{
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.flex-formateur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.victor-font{
    font-size: 20px;
}

i {
    color: #0e76a8;
}
/*--------------------------FOOTER-PAGE------------------------*/

.Footer-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(97, 97, 97);
    color: white;
}

.Footer-block-bar {
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: row;
    color: white;
}

.footer-button-bar {
    background-color: rgb(97, 97, 97);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-link{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.titre-contact{
    text-decoration: underline;
}

.titre-trouver{
    text-decoration: underline;
}

.lien-reseaux-1{
    padding-right: 20px;
}

a:hover{
    text-decoration: underline;
}

.lien:link{
    color: white;
}

.lien:visited{
    color: white;
}

.lien-reseaux{
    color: white;
}

.p-reseaux{
    margin-left: 20px;
}
/* formulaire contact */



form{
    border: 1px solid;
    border-radius: 1em;
    padding: 1rem;
    text-align: right;
    max-width: 600px;
}

form div{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

label{
    display: inline-block;
    margin-right: .5rem;
}

input, textarea{
    box-sizing: border-box;
    border: 1px solid;
    flex: 1;
    padding: .5rem .25rem;
}

textarea{
    vertical-align: top;
}

button{
    padding: .5rem 1rem;
}

.title-contact{
    text-align: center;
    font-size: 2em;
}
