/*--------------------------TOUTE-LA-PAGE--------------------------*/

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: rgb(190, 98, 98);
    text-decoration: none;
}


body,
p,
h1,
h2 {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
}

h2 {
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
}

img {
    max-width: 100%;
    height: auto;
}


hr {
    color: rgb(255, 255, 255);
    border: white;
}

/*--------------------------NAVIGATION-BAR--------------------------*/

.navigation-bar { 
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgb(75, 75, 75);    
    background-color: white;
}

.navbar-link{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
    flex: 1;
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
}

a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.navbar-link > * {
    margin-right: 3rem;
}

.navbar-logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

/*--------------------------HEADER--------------------------*/

.section{
    background-image: url(https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    margin-bottom: 3rem;
}

.header {
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.title-header {
    text-align: center;
    padding: 7rem;
    font-size: 3em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.title-promo {
    color: rgb(255, 255, 255);
    margin-top: 5rem;
    font-size: 4.5rem;
}

.header-sub-title {
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

/*--------------------------SECTION-WILD-CLASS-------------------------*/
.title-welcome {
    font-size: 3rem;
    color: black;
}

.section-container-stagiaire{
    width: 100%;
    padding: 0px;
    margin-bottom: 1rem;
}

.classe-photo {
    width: 60%;
    border-left: solid 1px black;
}

.section-wild-block-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding: 1rem;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1rem;
    max-width: 40%;
}

.section-content-style {
    color: rgb(0, 0, 0); 
    border-right: solid 1px black;
}

.p_classe {
    font-size: 24px;
}

/*--------------------------SECTION-VOS-STAGIAIRES-------------------------*/

.flex-card-description{
    display: flex;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.section-wilder-title {
    text-align: center;
    font-size: 1.5em;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    padding: 1rem;
    margin-bottom: 1rem;
}

.section-wilder-card{
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.flex-card-name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
}
.wilder-card-name {
    background: grey;
    border-bottom : black 1px solid;
    font-size: 1.4rem;
    border-radius: 8px 8px 0px 0px;
}

.wilder-card-photo {
    background-color: rgb(255, 255, 255);
}


.wilder-card-description {
    background-color: #f7b7b7;
    border-top: black 1px solid;
    font-size: 1rem;
    border-radius: 0px 0px 8px 8px;
    padding: .5rem;
}
.flex-card-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-stagiaire{
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.container-Formateur{
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.flex-formateur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem; 
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

i {
    color: #0e76a8;
} 
.card {
    border-width: 1px;
    display : inline-block;
    text-align : center;
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 2px 5px black;
  }
  
.card-title {
    background-color : black;
    color : white;
    text-align : center;
    padding : .5rem;
    font-size: 1em;
}

li {
    margin-bottom: .5rem
}

.card-image {
    display : block;  
    margin-bottom : 0.5rem;
}

.card-keywords {
    margin-bottom: .5em;
    flex-direction: column;
    display : inline-flex;
    list-style-type : none; 
    padding-left : 0;
} 
/*--------------------------FOOTER-PAGE------------------------*/

/*--------------------------SECTION-CONCTACT-------------------------*/

.titre-contact{
    text-decoration: underline;
}

.titre-trouver{
    text-decoration: underline;
}

a:hover{
    text-decoration: underline;
}

.section-contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
}

.contact-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.card-contact{
    border-width: 1px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #F99797;
    margin-bottom: 1rem;
}

.person-contact{
    color: #F76C6C;
    font-weight: bold;
    font-size: large;
}

.info-contact{
    color: #39424e;;
    font-size: larger;
}